{{yield}}
{{#each errorMessages as |error|}}
  <p>{{error}}</p>
{{/each}}

<form {{action "authenticate" on="submit"}}>
  <div class="field">
    <label>Email Address</label>
    {{input value=email value=email}}
  </div>
  <div class="field">
    <label>Password</label>
    {{input value=password type="password"}}
  </div>

  <button type="submit" class="btn">Log in!</button>
</form>